ServerName cRPG - {{ crpg_region | upper }} {{ crpg_game_server_id }}{{ item.name | upper }} Duel - namidaka.fr
GameType cRPGDuel
add_map_to_automated_battle_pool mp_duel_mode_map_004
set_automated_battle_count 1
disable_map_voting
MapTimeLimit 60
MaxNumberOfPlayers 32
MinScoreToWinDuel 3
start_game
set_automated_battle_count -1
enable_automated_battle_switching
