ServerName cRPG - {{ crpg_region | upper }} {{ crpg_game_server_id }}{{ item.name | upper }} Skirmish - c-rpg.eu
GameType cRPGSkirmish
GamePassword Tournament{{ crpg_region | upper }}
add_map_to_automated_battle_pool mp_skirmish_map_007
add_map_to_automated_battle_pool mp_skirmish_map_010
add_map_to_automated_battle_pool mp_skirmish_map_003_skinc
add_map_to_automated_battle_pool mp_skirmish_map_002f
add_map_to_automated_battle_pool mp_skirmish_map_008_skin
add_map_to_automated_battle_pool mp_skirmish_map_020
add_map_to_automated_battle_pool crpg_battle_quarry
add_map_to_automated_battle_pool crpg_battle_abandoned
add_map_to_automated_battle_pool crpg_battle_vatnborg
AllowPollsToKickPlayers True
AllowPollsToChangeMaps True
disable_culture_voting
CultureTeam1 vlandia
CultureTeam2 sturgia
RoundPreparationTimeLimit 2
MinNumberOfPlayersForMatchStart 8
MaxNumberOfPlayers 15
AutoTeamBalanceThreshold 4
FriendlyFireDamageMeleeFriendPercent 50
FriendlyFireDamageMeleeSelfPercent 0
FriendlyFireDamageRangedFriendPercent 50
FriendlyFireDamageRangedSelfPercent 0
MinNumberOfPlayersForMatchStart 0
NumberOfBotsTeam1 0
NumberOfBotsTeam2 0
RoundTotal 5
MapTimeLimit 8
RoundTimeLimit 420
WarmupTimeLimit 1
disable_map_voting
start_game
crpg_enable_feature tournament
set_automated_battle_count -1
enable_automated_battle_switching
