ServerName cRPG - {{ crpg_region | upper }} {{ crpg_game_server_id }}{{ item.name | upper }} Battle - c-rpg.eu
GameType cRPGBattle
add_map_to_automated_battle_pool crpg_battle_fieldbytheriver
add_map_to_automated_battle_pool crpg_battle_ketilsfarm
add_map_to_automated_battle_pool crpg_battle_icelake
add_map_to_automated_battle_pool crpg_battle_helmspoint
add_map_to_automated_battle_pool crpg_battle_ugor
add_map_to_automated_battle_pool crpg_battle_ghosttown
add_map_to_automated_battle_pool crpg_battle_banditvalley
add_map_to_automated_battle_pool crpg_battle_talmberg
add_map_to_automated_battle_pool crpg_battle_whitebridge
add_map_to_automated_battle_pool crpg_battle_killington
add_map_to_automated_battle_pool crpg_battle_bazaar
add_map_to_automated_battle_pool crpg_battle_pompeii
add_map_to_automated_battle_pool crpg_battle_verloren
add_map_to_automated_battle_pool crpg_battle_quarry
add_map_to_automated_battle_pool crpg_battle_drakenburg
add_map_to_automated_battle_pool crpg_battle_sallyout
add_map_to_automated_battle_pool crpg_battle_hadiiqa
add_map_to_automated_battle_pool crpg_battle_stonehenge
add_map_to_automated_battle_pool crpg_battle_sandiboush
add_map_to_automated_battle_pool crpg_battle_islandvillage
add_map_to_automated_battle_pool crpg_battle_sanctuary
add_map_to_automated_battle_pool crpg_battle_kingsroad
add_map_to_automated_battle_pool crpg_battle_abandoned
add_map_to_automated_battle_pool mp_skirmish_map_007
add_map_to_automated_battle_pool crpg_battle_canyon
add_map_to_automated_battle_pool crpg_battle_tolstabeach
add_map_to_automated_battle_pool crpg_battle_skolderby
add_map_to_automated_battle_pool mp_skirmish_map_002f
add_map_to_automated_battle_pool mp_battle_map_002
add_map_to_automated_battle_pool crpg_battle_ruinedbattlement
add_map_to_automated_battle_pool crpg_battle_redwoodforest
add_map_to_automated_battle_pool mp_skirmish_map_003_skinc
add_map_to_automated_battle_pool crpg_battle_hexenbrennen
add_map_to_automated_battle_pool crpg_battle_zemouri
add_map_to_automated_battle_pool crpg_battle_lostcathedral
add_map_to_automated_battle_pool crpg_battle_kalmara
add_map_to_automated_battle_pool crpg_battle_vatnborg
add_map_to_automated_battle_pool crpg_battle_sandpit
add_map_to_automated_battle_pool crpg_battle_waterwaytojelkala
add_map_to_automated_battle_pool crpg_battle_orionarena
add_map_to_automated_battle_pool crpg_battle_moonlittownship
add_map_to_automated_battle_pool crpg_battle_weirwater
add_map_to_automated_battle_pool crpg_battle_onomasticon
add_map_to_automated_battle_pool crpg_battle_persia
add_map_to_automated_battle_pool mp_skirmish_map_020
AllowPollsToKickPlayers True
AllowPollsToChangeMaps True
disable_culture_voting
CultureTeam1 vlandia
CultureTeam2 sturgia
RoundPreparationTimeLimit 2
MaxNumberOfPlayers 240
AutoTeamBalanceThreshold 0
crpg_team_balance_once True
FriendlyFireDamageMeleeFriendPercent 50
FriendlyFireDamageMeleeSelfPercent 0
FriendlyFireDamageRangedFriendPercent 50
FriendlyFireDamageRangedSelfPercent 0
MinNumberOfPlayersForMatchStart 1
NumberOfBotsTeam1 3
NumberOfBotsTeam2 3
RoundTotal 7
MapTimeLimit 8
RoundTimeLimit 300
WarmupTimeLimit 1
SingleSpawn True
start_game
crpg_happy_hours {{ crpg_happy_hours }}
crpg_experience_multiplier 1
disable_map_voting
set_automated_battle_count -1
enable_automated_battle_switching
