[Unit]
Description=cRPG Game Server

[Service]
WorkingDirectory={{ crpg_game_server_bin_path | dirname }}
ExecStart={{ crpg_game_server_path }}/Modules/cRPG/crpg-game-server.sh %i
Restart=always
RestartSec=5
KillSignal=SIGINT
User={{ crpg_game_server_user }}
LogRateLimitBurst=20000
LogRateLimitIntervalSec=10s
Environment=CRPG_ENV=Production
Environment=CRPG_REGION={{ crpg_region }}
Environment=CRPG_SERVICE={{ crpg_game_server_service_name }}
Environment=CRPG_INSTANCE={{ ansible_hostname }}%i
Environment=CRPG_API_BASE_URL=https://{{ crpg_api_domain_name }}
Environment=CRPG_API_KEY={{ crpg_api_key }}

[Install]
WantedBy=multi-user.target
