---

ansible_sudo_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  66323536646461616430383436323736313532653037363330346537336431666432366361653438
  3332333437643932353834383338336363616635306362610a623032656162623466653239613437
  39393333333334613531333930336562323637643135303338363365653837643634366131646163
  6464396461366162300a383766366539633839393539346439653662313334363565333731353236
  32393961366339366233393731383165373039346638313661323864353130363835

crpg_reverse_proxy_service_name: crpg-reverse-proxy

crpg_api_user: crpg
crpg_api_service_name: crpg-web-api
crpg_api_path: "/home/{{ crpg_api_user }}/{{ crpg_api_service_name }}"
crpg_api_port: 8000
crpg_api_log_file: "/var/log/crpg/{{ crpg_api_service_name }}.log"

crpg_ui_path: "/var/www/{{ crpg_domain_name }}"

crpg_domain_name: c-rpg.eu

crpg_db_service_name: crpg-db
crpg_db: crpg
crpg_db_user: crpg
crpg_db_user_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38303737393930623462303066366563363435616265376637656538383336373931333532326362
  3364653166383839383735346266336661613566373265650a613637626666656635653134623165
  38626562646536376361343732396539373764663132663262333566326339383239653065356138
  3434356465313665390a643036346635343562646136653063646166366264396664313530326334
  3163

datadog_db_user: dd-agent # Same username as Datadog agent so ident authentication can be used

nginx_version: 1.23.1
nginx_opentracing_version: 0.26.0
dotnet_version: 7.0
datadog_opentracing_version: 1.3.5

datadog_api_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63336331303239353839636366306365663262326338343831616564396133386631616539386636
  6436303036373834386662363836623266336536376365330a653532333535666436353230623332
  34386236323063306233383730343034333632643532396532353962653335393863653139653336
  3730653536623865660a356565313035373337313030613966646164623736623937626464373966
  66663735636134326334333164343430616634623761326163316434306530363833626236633430
  6537393033613533636438646634643235666337383030336130

datadog_checks:
    nginx:
        init_config:
        instances:
            - nginx_status_url: http://localhost:81/nginx_status
        logs:
            - type: file
              path: /var/log/nginx/access.log
              service: "{{ crpg_reverse_proxy_service_name }}"
              source: nginx
            - type: file
              path: /var/log/nginx/error.log
              service: "{{ crpg_reverse_proxy_service_name }}"
              source: nginx
    postgres:
        init_config:
        instances:
            - host: localhost
              port: 5432
              dbname: "{{ crpg_db }}"
              username: "{{ datadog_db_user }}"
              dbm: true
              custom_queries:
                  - metric_prefix: crpg
                    query: SELECT
                        (SELECT COUNT(*) FROM users WHERE deleted_at IS NULL) AS users,
                        (SELECT COUNT(*) FROM users WHERE updated_at > now() - INTERVAL '1 month') AS active_users_30d,
                        (SELECT COUNT(*) FROM users WHERE updated_at > now() - INTERVAL '1 week') AS active_users_7d,
                        (SELECT COUNT(*) FROM users WHERE updated_at > now() - INTERVAL '1 day') AS active_users_1d,
                        (SELECT COUNT(*) FROM users WHERE updated_at > now() - INTERVAL '15 min') AS active_users_15min,
                        (SELECT AVG(gold) FROM users WHERE updated_at > now() - INTERVAL '1 month') AS active_users_30d_average_gold,
                        (SELECT AVG(level) FROM characters WHERE updated_at > now() - INTERVAL '1 month') AS active_characters_30d_average_level
                    columns:
                        - name: users.count
                          type: gauge
                        - name: users.active.30d.count
                          type: gauge
                        - name: users.active.7d.count
                          type: gauge
                        - name: users.active.1d.count
                          type: gauge
                        - name: users.active.15min.count
                          type: gauge
                        - name: users.active.30d.average_gold
                          type: gauge
                        - name: characters.active.30d.average_level
                          type: gauge
        logs:
            - type: file
              path: /var/log/postgresql/postgresql.csv
              service: "{{ crpg_db_service_name }}"
              source: postgresql
              log_processing_rules:
                  - type: multi_line
                    pattern: \d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])
                    name: new_log_start_with_date
    csharp:
        init_config:
        instances:
        logs:
            - type: file
              path: "{{ crpg_api_log_file }}"
              service: "{{ crpg_api_service_name }}"
              source: csharp
    http_check:
        init_config:
        instances:
            - name: cRPG Web API
              url: "http://localhost:{{ crpg_api_port }}/health"
              content_match: ^Healthy$
              service: "{{ crpg_api_service_name }}"
              min_collection_interval: 60
            - name: Steam Open-ID
              url: https://steamcommunity.com/openid
              service: steam
              min_collection_interval: 60
              tls_verify: false
              tls_ignore_warning: true
    tls:
        init_config:
        instances:
            - server: localhost

patreon_access_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  36643932326435323330396133353438316237333637663331343461396161383633356235353335
  3336366463613462343330373034366265353432333234630a616561656638643461663536393139
  32366139666531663862386365313963366631333438613238303133353034393665373162613161
  3335376666643930610a663436373866366163306362653330366134316137623738623339323161
  37633035353338656165636537363438343739656439396561336138356334353938363137306634
  3832656339653031653636623337356532616464366433383839

afdian_access_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39343663386135383239343237633366373636376337643731376638306231376163626238643838
  3861323337343066623666373761643837313838313763340a333364353066303366643331626232
  32616234373235663231393462636664396263623361646564616431663961616465383035383734
  6665353666386261620a383036633833303030623837366330333938613265373563663639316639
  62623365356162663637343239306532623761326334636132613339323736323062666332623766
  6237373533363461343439303630356438376337343765386232
