---
crpg_reverse_proxy_service_name: crpg_reverse_proxy

crpg_api_user: crpg
crpg_api_service_name: crpg_web_api
crpg_api_path: "/home/{{ crpg_api_user }}/{{ crpg_api_service_name }}"
crpg_api_port: 8000
crpg_api_log_file: "/var/log/crpg/{{ crpg_api_service_name }}.log"

crpg_strategus_user: crpg
crpg_strategus_service_name: crpg_strategus
crpg_strategus_path: "/home/{{ crpg_strategus_user }}/{{ crpg_strategus_service_name }}"
crpg_strategus_log_file: "/var/log/crpg/{{ crpg_strategus_service_name }}.log"

crpg_ui_path: "/var/www/{{ crpg_domain_name }}"

crpg_domain_name: c-rpg.eu

crpg_service_name: crpg_db
crpg_db: crpg
crpg_db_user: crpg
crpg_db_user_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38303737393930623462303066366563363435616265376637656538383336373931333532326362
  3364653166383839383735346266336661613566373265650a613637626666656635653134623165
  38626562646536376361343732396539373764663132663262333566326339383239653065356138
  3434356465313665390a643036346635343562646136653063646166366264396664313530326334
  3163

datadog_db_user: dd-agent # Same username as Datadog agent so ident authentication can be used

nginx_version: 1.21.1
nginx_opentracing_version: 0.20.0
dotnet_version: 5.0
datadog_dotnet_tracer_version: 1.23.0
datadog_opentracing_version: 1.3.0
