@import './bulma';

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

// steam issue fix https://github.com/verdie-g/crpg/issues/508
.button *,
.confirm-selection__overlay *
{
    pointer-events: none;
}
