{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "IdentityServer4": "Warning"
    },
    "Console": {
      "FormatterName": "json",
      "FormatterOptions": {
        "IncludeScopes": true,
        "TimestampFormat": "o",
        "UseUtcTimestamp": true
      }
    }
  },
  "OpenIddict": {
    "Clients": [
      {
        "ClientId": "crpg-web-ui",
        "DisplayName": "cRPG Web UI",
        "ConsentType": "implicit",
        "Type": "public",
        "RedirectUris": [
          "https://{{ crpg_domain_name }}",
          "https://{{ crpg_domain_name }}/signin-callback",
          "https://{{ crpg_domain_name }}/signin-silent-callback"
        ],
        "PostLogoutRedirectUris": ["https://{{ crpg_domain_name }}"],
        "Permissions": [
          "ept:authorization",
          "ept:logout",
          "ept:token",
          "gt:authorization_code",
          "gt:refresh_token",
          "rst:code",
          "scp:user_api"
        ],
        "Requirements": ["ft:pkce"]
      },
      {
        "ClientId": "crpg-game-server",
        "ClientName": "cRPG Game Server",
        "ClientSecret": "{{ crpg_game_server_api_secret }}",
        "Permissions": [
          "ept:token",
          "gt:client_credentials",
          "scp:game_api"
        ]
      }
    ],
    "Scopes": [
      {
        "Name": "user_api",
        "DisplayName": "cRPG User API",
        "Resources": ["scp:roles"]
      },
      {
        "Name": "game_api",
        "DisplayName": "cRPG Game API",
        "Resources": []
      }
    ]
  },
  "Steam": {
    "ApiKey": "{{ steam_api_key }}"
  },
  "Patreon": {
    "AccessToken": "{{ patreon_access_token }}",
    "CampaignId": 4388277
  },
  "Afdian": {
    "AccessToken": "{{ afdian_access_token }}",
    "UserId": "aaddb008722111eda43c52540025c377"
  },
  "Datadog": {
    "ApiKey": "{{ datadog_api_key }}",
    "ApplicationKey": "{{ datadog_application_key }}"
  },
  "AllowedOrigins": "https://{{ crpg_domain_name }}",
  "Urls": "http://localhost:{{ crpg_api_port }}",
  "ConnectionStrings": {
    "Crpg": "Host=localhost;Database={{ crpg_db }};Username={{ crpg_db_user }};Password={{ crpg_db_user_password }};Application Name={{ crpg_api_service_name }}"
  }
}
