{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "IdentityServer4": "Warning"
    },
    "Console": {
      "FormatterName": "json",
      "FormatterOptions": {
        "IncludeScopes": true,
        "TimestampFormat": "o",
        "UseUtcTimestamp": true
      }
    }
  },
  "IdentityServer": {
    "Authority": "https://{{ crpg_api_domain_name }}",
    "Clients": [
      {
        "ClientId": "crpg-web-ui",
        "ClientName": "cRPG Web UI",
        "ClientSecrets": [{ "Value": "" }],
        "RequireClientSecret": false,
        "AllowedGrantTypes": ["authorization_code"],
        "AllowedScopes": ["openid", "user_api"],
        "AllowedCorsOrigins": ["https://{{ crpg_domain_name }}"],
        "RedirectUris": ["https://{{ crpg_domain_name }}", "https://{{ crpg_domain_name }}/silent-renew.html"],
        "PostLogoutRedirectUris": ["https://{{ crpg_domain_name }}"],
        "AccessTokenType": "Jwt",
        "RequireConsent": false,
        "AccessTokenLifetime": 3600,
        "IdentityTokenLifetime": 300,
        "RequirePkce": true,
        "AllowAccessTokensViaBrowser": true,
        "AllowOfflineAccess": true
      },
      {
        "ClientId": "crpg-game-server",
        "ClientName": "cRPG Game Server",
        "ClientSecrets": [
        {% for crpg_api_key in crpg_api_keys %}
          { "Value": "{{ crpg_api_key }}" },
        {% endfor %}
        ],
        "AllowedGrantTypes": ["client_credentials"],
        "AllowedScopes": ["openid", "game_api"],
        "AccessTokenLifetime": 31536000
      }
    ],
    "Providers": {
      "Steam": { "ApplicationKey": "{{ steam_api_key }}" }
    }
  },
  "Patreon": {
    "AccessToken": "{{ patreon_access_token }}",
    "CampaignId": 4388277
  },
  "Afdian": {
    "AccessToken": "{{ afdian_access_token }}",
    "UserId": "aaddb008722111eda43c52540025c377"
  },
  "Datadog": {
    "ApiKey": "{{ datadog_api_key }}",
    "ApplicationKey": "{{ datadog_application_key }}"
  },
  "AllowedOrigins": "https://{{ crpg_domain_name }}",
  "Urls": "http://localhost:{{ crpg_api_port }}",
  "ConnectionStrings": {
    "Crpg": "Host=localhost;Database={{ crpg_db }};Username={{ crpg_db_user }};Password={{ crpg_db_user_password }};Application Name={{ crpg_api_service_name }}"
  }
}
