{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information"
      }
    },
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "Path": "{{ crpg_log_folder }}/{{ crpg_log_filename }}",
          "Formatter": "Serilog.Formatting.Compact.RenderedCompactJsonFormatter, Serilog.Formatting.Compact",
          "Buffered": true
        }
      }
    ]
  },
  "IdentityServer": {
    "Authority": "https://localhost:8000",
    "Clients": [
      {
        "ClientId": "crpg_web_ui",
        "ClientName": "cRPG Web UI",
        "ClientSecrets": [{ "Value": "" }],
        "RequireClientSecret": false,
        "AllowedGrantTypes": ["authorization_code"],
        "AllowedScopes": ["openid", "api"],
        "RedirectUris": ["{{ crpg_domain_name }}"],
        "PostLogoutRedirectUris": ["{{ crpg_domain_name }}"],
        "AccessTokenType": "Jwt",
        "RequireConsent": false,
        "AccessTokenLifetime": 3600,
        "IdentityTokenLifetime": 300,
        "RequirePkce": true,
        "AllowAccessTokensViaBrowser": true,
        "AllowOfflineAccess": true
      }
    ],
    "Providers": {
      "Steam": { "ApplicationKey": "{{ steam_api_key }}" }
    }
  },
  "AllowedOrigins": "https://{{ crpg_domain_name }}",
  "Urls": "http://localhost:{{ crpg_port }}",
  "ConnectionStrings": {
    "Crpg": "Host=localhost;Database={{ db_crpg }};Username={{ db_user_crpg }};Password={{ db_user_crpg_password }}"
  }
}
