---
- name: Add Microsoft package signing key to the list of trusted keys
  apt:
    deb: https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb

- name: Make sure HTTPS is supported by apt
  apt:
    name: apt-transport-https
    state: present

- name: Install .NET Core Runtime
  apt:
    name: "aspnetcore-runtime-{{ dotnet_version }}"
    state: present
    update_cache: yes

- name: Create cRPG Web API user
  user:
   name: "{{ crpg_api_user }}"
   comment: Owner of the cRPG Web API

- name: Create cRPG Web API service
  template:
    src: crpg.service.j2
    dest: /lib/systemd/system/crpg.service
    mode: 0644

- name: Build cRPG Web API
  become: false
  command: "dotnet publish -c Release {{ playbook_dir | dirname }}/src/WebApi --output /tmp/{{ crpg_api_path | basename }}_new"
  delegate_to: localhost

- name: Compress locally cRPG Web API
  archive:
    path: "/tmp/{{ crpg_api_path | basename }}_new"
    dest: "/tmp/{{ crpg_api_path | basename }}_new.tgz"
  delegate_to: localhost
  become: false

- name: Copy to host and decompress cRPG Web API
  unarchive:
    src: "/tmp/{{ crpg_api_path | basename }}_new.tgz"
    dest: "{{ crpg_api_path | dirname }}"
    mode: u=rwX,g=,o=
    owner: "{{ crpg_api_user }}"
    group: "{{ crpg_api_user }}"
  become_user: "{{ crpg_api_user }}" # https://github.com/ansible/ansible/issues/35426

- name: Generate cRPG Web API settings
  template:
    src: appsettings.Production.json.j2
    dest: "{{ crpg_api_path }}_new/appsettings.Production.json"
    mode: 0600
    owner: "{{ crpg_api_user }}"
    group: "{{ crpg_api_user }}"
  notify:
    - reload systemd

- name: Check that a cRPG Web API version is already present
  stat:
    path: "{{ crpg_api_path }}"
  register: crpg_api_path_stat_result

- name: Check that an old cRPG key exists
  stat:
    path: "{{ crpg_api_path }}/crpg.key"
  when: crpg_api_path_stat_result.stat.exists
  register: crpg_api_key_stat_result

# Copy key if an old version of cRPG API exists and that it contains a key
- name: Copy old cRPG key
  copy:
    src: "{{ crpg_api_path }}/crpg.key"
    dest: "{{ crpg_api_path }}_new"
    remote_src: true
  when: crpg_api_path_stat_result.stat.exists and crpg_api_key_stat_result.stat.exists

- name: Create cRPG Web API log folder
  file:
    path: "{{ crpg_api_log_file | dirname }}"
    state: directory
    mode: 0755
    group: "{{ crpg_api_user }}"
    owner: "{{ crpg_api_user }}"

- name: Stop cRPG Web API
  service:
    name: crpg
    enabled: yes
    state: stopped

- name: Swap old and new version (1/2)
  command: "mv {{ crpg_api_path }} {{ crpg_api_path }}_old"
  when: crpg_api_path_stat_result.stat.exists

- name: Swap old and new version (2/2)
  command: "mv {{ crpg_api_path }}_new {{ crpg_api_path }}"

- name: Start cRPG Web API
  service:
    name: crpg
    enabled: yes
    state: started

- name: Clean old cRPG Web API
  file:
    path: "{{ crpg_api_path }}_old"
    state: absent
  when: crpg_api_path_stat_result.stat.exists

- name: Clean local cRPG Web API archive
  file:
    path: "/tmp/{{ crpg_api_path | basename }}_new.tgz"
    state: absent
  delegate_to: localhost
  become: false

- name: Clean local cRPG Web API build
  file:
    path: "/tmp/{{ crpg_api_path | basename }}_new"
    state: absent
  delegate_to: localhost
  become: false

