# Redirect www to non-wwww
server {
    listen 80;
    listen 443 ssl http2;
    server_name www.{{ crpg_domain_name }};

    include /etc/nginx/snippets/crpg-ssl.conf;

    return 301 https://{{ crpg_domain_name }}$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ crpg_domain_name }};
    root {{ crpg_ui_path }};

    include /etc/nginx/snippets/crpg-ssl.conf;

    # Close slow connections.
    client_body_timeout 5s;
    client_header_timeout 5s;

    # If the browser can render compressed files, give it the pre-compressed version.
    gzip_static on;

    location /index.html {
        # Because the filename of /index.html never change, we need to use ETag
        # to leverage browser-side caching
        etag on;
    }

    location ~ \.(ico|png|jpg|zip|webp) {
        # Assets don't contain fingerprints (hashes) and should be cached
        # for a limited period of time.
        etag on;
        add_header Cache-Control max-age=86400; # 1 day
    }

    location / {
        # Because the static files other than /index.html and assets contain
        # fingerprints (hashes) in their filenames and they serve as the cache
        # buster, we don't need ETag any more. Just let browsers cache those
        # responses forever (or 5 years, maybe).
        etag off;
        add_header Cache-Control max-age=315360000,immutable;

        # Page routing is done client-side, so if the file doesn't exist
        # serve index.html which will handle the routing.
        try_files $uri /index.html;
      }
}
