.o-field {
}

.o-field--horizontal {
  @apply flex;
}

.o-field--grouped {
  @apply flex flex-row;
}

.o-field--horizontal {
  @apply flex-row;
}

.o-field--addons {
  @apply flex flex-wrap;
}

.o-field--addons > :first-child:not(:only-child) button,
.o-field--addons > :first-child:not(:only-child) input,
.o-field--addons > :first-child:not(:only-child) select,
.o-field--addons > button:first-child,
.o-field--addons > input:first-child,
.o-field--addons > select:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.o-field--addons > :last-child:not(:only-child) button,
.o-field--addons > :last-child:not(:only-child) input,
.o-field--addons > :last-child:not(:only-child) select,
.o-field--addons > button:last-child,
.o-field--addons > input:last-child,
.o-field--addons > select:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.o-field--addons > :not(:first-child):not(:last-child) button,
.o-field--addons > :not(:first-child):not(:last-child) input,
.o-field--addons > :not(:first-child):not(:last-child) select,
.o-field--addons > button:not(:first-child):not(:last-child),
.o-field--addons > input:not(:first-child):not(:last-child),
.o-field--addons > select:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.o-field--filled {
}

.o-field__label {
  @apply mb-2 block;
}

.o-field__label-small {
  @apply mb-1 text-2xs;
}

.o-field--horizontal .o-field__label,
.o-field--horizontal .o-field__label-small {
  @apply mb-0;
}

.o-field__horizontal-label {
  @apply mr-3 flex-grow;
  flex-basis: 0;
}

.o-field__body {
}

.o-field__horizontal-body {
  @apply flex flex-grow-[5] gap-3;
  flex-basis: 0;
}

.o-field__message {
  @apply mt-3 text-left text-2xs;
}

.o-field__message-danger {
  @apply text-status-danger;
}
