{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information"
      }
    },
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "Path": "{{ crpg_strategus_log_file }}",
          "Formatter": "Serilog.Formatting.Compact.RenderedCompactJsonFormatter, Serilog.Formatting.Compact",
          "Buffered": true,
          "FlushToDiskInterval": "00:00:15"
        }
      }
    ]
  },
  "ConnectionStrings": {
    "Crpg": "Host=localhost;Database={{ crpg_db }};Username={{ crpg_db_user }};Password={{ crpg_db_user_password }};Application Name={{ crpg_strategus_service_name }}"
  }
}
